@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 18, 18);
    color: white;
}

strong {
    color: #fbff00d8!important;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem #fbff00d8;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.7)!important;
}

/* .navbar-brand img {
    height: 2rem;
} */

.navbar-nav-li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fbff00d8;
    text-shadow: .1rem .1rem .8rem #fbff00d8;
}

.preguntas {
    color: #fbff00d8!important;
    text-shadow: .1rem .1rem .8rem #fbff00d8;
}

.titulo {
    text-shadow: .1rem .1rem .8rem white;
    font-weight: bold;
}

.hr1 {
    border: 1px solid white;
    width: 20%;
}

.hr2 {
    border: 1px solid white;
    width: 20%;
    margin-left: 0;
}

.logo {
    height: 50px!important;
    filter: brightness(200%);
    box-shadow: .1rem .1rem .8rem #fbff00d8;      
}

.texto {
    letter-spacing: .1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.imagen {
    width: 500px;
}

/* -----------------footer------------------------------ */
footer {
    background-color: rgba(0, 0, 0, 0.972);
    color: white;
}

footer .fab {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
    color: white;
}

footer .fab:hover {
    color: #fbff00d8!important;
    text-shadow: .1rem .1rem .8rem #fbff00d8;
}

.socket {
    border-top: .2rem solid #666b71!important;
    /* color: white!important; */
    margin-top: 3rem;
    /* width: 100%; */
}

.sombra {
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem white;
}

.k {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
    color: white;
}

.fa-instagram:hover,
.fa-twitter-square:hover,
.fa-facebook-square:hover {
    color: #fbff00d8!important;
}

@media (max-width: 1000px) {
    .imagen {
        width: 380px;
    } 
}